@media screen and (max-width: 550px) {
    body{
        overflow: hidden;
    }
    
    .app{
        background-image: url(wallpaper.jpg);
        background-repeat: no-repeat;
        position: relative;
        bottom: 10px;
        /* background-position: 0px px; */
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 40vh;
        max-width: 550px;
        /* background: #ffd; */
        margin: 100px auto 20px;
        padding: 40px 30px 70px;
        border-radius:0 70px 0px 80px;
        /* box-shadow: 10px 10px 8px #888888; */
        overflow-y:  scroll;
        /* box-shadow: 5px 10px inset; */
    }
}
/* @media screen and (max-width: 550px){

} */